*.suo
*.user
_ReSharper.*
bin
obj
packages
.vs
CarAuctionProj/obj/project.nuget.cache
CarAuctionProj/obj/project.assets.json
CarAuctionProj/CarAuctionProj.csproj.user
.vs/CarAuctionProj/v17/DocumentLayout.json
.vs/CarAuctionProj/v17/DocumentLayout.backup.json
.vs/CarAuctionProj/v17/.suo
.vs/CarAuctionProj/DesignTimeBuild/.dtbcache.v2
